iniconfig==2.3.0
numpy==2.5.2
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1785888127/work
pluggy==1.6.0
Pygments==2.21.0
pytest==9.1.1
setuptools==84.0.0
wheel==0.48.0
